/* You can add global styles to this file, and also import other style files */
$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 20px;
$font-medium: 16px;
// colors
$primary-blue: #00a1e0;
$primary-red: #ec6d36;
$green: #35a680;
$pink: #d6476f;
